.clear:before, .clear:after {
  content: "";
  display: block;
}
.clear:after {
  clear: both;
}
body {
  background-color: #008080;
  color: #282C34;
  font-family: 'Lobster', cursive;
  font-size: 18px;
}
.main_title {
  /*font-family: 'Lobster', cursive;
  color: #282C34;
  text-align: center;*/
  font-size: 55px;
  display:inline-block;
  margin: 0;
}
a {
  text-decoration: none;
  color: #282C34;
  font-family: 'Lobster', cursive;
  font-size: 19px;
  padding: 5px;
}
a:hover {
  color: orange;
}
table {
  list-style-type: none;
  background-color: #26B597;
  /*display: inline-block;*/
  /*padding: 50px;*/
}
td {
  margin: 25px;
  line-height: 1.5em;
  float: left;
  text-align: left;
}

.title{
  background-color: orange;
  border-radius: 100px;
  font-family: 'Lobster', cursive;
  color: #282C34;
  text-align: center;
}
.phonepic {
  width: 85px;
}
.add_entry {
  text-align: center;
  justify-content: center;
  background-color: #26B597;
  width: 400px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
button {
  background-color: orange;
  font-family: 'Lobster', cursive;
  font-size: 20px;
  border-radius: 100px;
  border: none;
}
h2 {
  text-align: center;
}
